{% extends "base.html" %}

{% block content %}
  {% csrf_token %}
  {% if form.email.errors %}

    <div class="container-fluid p-0">
      <div class="mx-4 alert alert-danger alert-success" role="alert" >
        {{ form.email.errors }}
      </div>
    </div>
  {% endif %}

    <div class="container">
        <h3 class="m-1">Reset Password</h3><br/>
        <form method="post" action="">
            {% csrf_token %}
            <div class="form-group m-1">
                <label>Enter your email</label>
                <p>{{ form.email }}</p>
            </div>
            <button type="submit" value="Reset password" class="btn btn-primary register-button m-1 px-5">Reset password</button>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
{% endblock %}

